*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) *0.9 )
}

body{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100vw;
    height: 100vh;
    margin: auto;
}



h1{
    font-size: 40px;
    text-decoration: underline;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    /* place-content: center; */
    justify-content: center;
    margin-top: 2rem;
    align-content: center;
    gap: 0;
}

.cells{
    height: var(--cell-size);
    width: var(--cell-size);
    border: 2px solid rgb(0, 0, 0);
    position: relative;
}

.cells:nth-child(1),
.cells:nth-child(2),
.cells:nth-child(3){
    border-top: none;
}

.cells:nth-child(1),
.cells:nth-child(7),
.cells:nth-child(4){
    border-left: none;
}

.cells:nth-child(7),
.cells:nth-child(8),
.cells:nth-child(9){
    border-bottom: none;
}

.cells:nth-child(3),
.cells:nth-child(6),
.cells:nth-child(9){
    border-right: none;
}

.x::before,
.x::after{
    content:"" ;
    height: var(--mark-size);
    width:calc( var(--mark-size) * .15);
    background-color: black;
    position: absolute;
    right: 45%;
    top: 5%;
}

.x::before{
    transform: rotate(45deg);
}
.x::after{
    transform: rotate(-45deg);
}

.o::before,
.o::after{
    content: "";
    height: calc(var(--mark-size));
    width: calc(var(--mark-size));;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    right: 3%;
    top: 5%;
}

.o::after{
    height: calc(var(--mark-size) * .70);
    width: calc(var(--mark-size) *.70 );;
    background-color: white;
    left: 19%;
    top: 19%;
    position: absolute;
}

.x, .o{
    cursor: not-allowed;
}

/* result */

.result{
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 3rem;
    gap: 10px;
}

.result button{
    font-size: 2.5rem;
    border: 2px solid black;
    padding: .5rem;
    cursor: pointer;
}


.result.show{
    display: flex;
}